*{font-family:"Open Sans",sans-serif; font-size:15px; font-weight:300; margin:0; padding:0; color:#555; z-index:1; flex-wrap:wrap;}
a{color:#a00; text-decoration:underline;}
a:hover{color:#f00;}
.max{margin:0 auto; width:90%; max-width:1080px;}
.ico{display:flex; align-items:center; justify-content:center; cursor:pointer;}
.ico.off{background:#ddd;}
.clr{clear:both;}
.shd{width:100%; height:30px; background-image:url('shd.png'); background-repeat:no-repeat; background-size:105% 205%; position:absolute; top:0; right:0; left:0; opacity:0.5;}
.shd.top{background-position:bottom center;}
.shd.btm{background-position:top center;}
.flx{display:flex;}

body{position:relative; background:#f2f2f5;}

#head{position:relative; z-index:100;}
#topbar>.flx{z-index:103;}
#searchbig{position:relative; z-index:104;}
#topmenu>li{position:relative; z-index:103;}
#mainmenubox{position:relative; z-index:102;}
#head>.shd{z-index:101;}



#searchfrm{background:#fff;}
#searchfrm fieldset{border:none; outline:none; padding:0 15px;}
#searchtxt{border:none; outline:none; background:#fff; color:#555; font-size:85%; font-style:italic; width:100%; padding:15px 0;}
#searchsub,.js #searchfrm{display:none;}

#socbar,#socbar li,#socbar a{display:flex;}
#socbar,#socbar li{align-items:stretch;}
#socbar{list-style:none;}
#socbar a{text-decoration:none; text-align:center; align-items:center; justify-content:center; height:33px;}
#socbar a i{font-size:85%;}
#socbar a i,#socbar a span{color:inherit;}
#socbar li.soc a{width:33px; background:#f7f7f9; color:#555;}
#socbar li.soc:nth-child(1) a:hover{background:#3b5998;}
#socbar li.soc:nth-child(2) a:hover{background:#26a7de;}
#socbar li.soc:nth-child(3) a:hover{background:#3f729b;}
#socbar li.soc:nth-child(4) a:hover{background:#b2071d;}
#socbar li.soc a:hover i{color:#fff;}
#socbar li#lang a{padding:0 10px; background:#fd0; color:#222;}
#socbar li#lang a:hover{background:#a00; color:#fff;}
#socbar li#lang a span{font-size:70%; font-weight:700; text-transform:uppercase;}

.menu,.menu ul{list-style:none;}
.menu a{text-decoration:none;}

#socbar a,
.menu>li,
#searchbig .ico,
.slick-arrow,
.slick-dots li button,
.slick .text,
#program a,
#program a:after,
#program a span,
#frt-berita .item a,
#frt-berita .item .img i,
#frt-agenda .item .pad
{
	-webkit-transition:all 2s ease;
	-moz-transition:all 2s ease;
	-o-transition:all 2s ease;
	transition:all 2s ease;
}
#mainmenu .chi a
{
	-webkit-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}



#body{padding-bottom:50px;}
.box h1>span,.box h1>a{display:inline-block; font-weight:700; text-transform:uppercase; font-size:70%; line-height:1em; text-decoration:none; background:#a00; color:#fff; border-radius:4px; padding:5px;}
.box h1>a:hover{background:#f00;}
.tglbox{display:flex; flex-wrap:nowrap; justify-content:flex-end;}
.tgl{padding:0 5px;}
.tgl>span{display:block; line-height:1em; font-family:'Oswald',sans-serif; text-align:right;}
.tgl.tgl-2>span{color:#a00;}
.tgl>span.dat{font-size:120%; font-weight:400; letter-spacing:-1px;}
.tgl>span.mth{font-size:70%; font-weight:200; text-transform:uppercase;}
.box h2>a{text-decoration:none; font-weight:700;}

.js .slickbox{position:relative; max-height:0; width:100%; height:0; overflow:hidden;}
.js .slick{position:absolute; top:0; right:0; bottom:0; left:0;}
.slick .base{display:flex; flex-wrap:nowrap; align-items:stretch;}
.slick .base.top{align-items:flex-start;}
.slick .base.mid{align-items:center;}
.slick .base.btm{align-items:flex-end;}
.slick .base.lft{justify-content:flex-start; text-align:left;}
.slick .base.ctr{justify-content:center; text-align:center;}
.slick .base.rgt{justify-content:flex-end; text-align:right;}
.slick .text{display:inline-block;}
.slick .base.opq .text{opacity:0;}
.js .slick:hover .base.opq .text{opacity:0.9;}
.slick .text>span{display:block;}
.slick .text>span>span{display:inline-block; line-height:1em;}
.slick .text>span.h1>span{letter-spacing:-1px;}
.nojs .slick .tglbox{flex-grow:0; flex-shrink:0;}

.slick-arrow,.slick-dots{position:absolute; z-index:5; line-height:1em;}
.slick-arrow,.slick-dots>li>button{opacity:0.05;}
.slick-dots{list-style:none; display:flex; flex-wrap:nowrap; justify-content:center; bottom:0; width:100%;}
.slick-dots>li>button{overflow:hidden; border-radius:50%; outline:none; border:none; box-shadow:none; cursor:pointer; background:#555; color:#555;}
.slick-dots>li.slick-active>button{background:#a00; color:#a00;}
.slick-arrow{top:50%; display:flex; justify-content:center; align-items:center; cursor:pointer; background:#a00; color:#fff;}
.slick-arrow.fa-chevron-left{left:0;}
.slick-arrow.fa-chevron-right{right:0;}
.js .slickbox:hover .slick-dots>li>button,.js .slickbox:hover .slick-arrow{opacity:0.85;}
.js .slickbox:hover .slick-dots>li>button:hover,.js .slickbox:hover .slick-arrow:hover{opacity:1;}
.slick .item h2{line-height:1em;}

#box-pengumuman{background:#f8d7da; position:relative;}
#box-pengumuman h1{position:absolute; z-index:4; top:0; right:0; left:0; text-align:center;}
.box#box-pengumuman h1>a{border-top-right-radius:0; border-top-left-radius:0;}
.js #slick-pengumuman .base{justify-content:center;}
#slick-pengumuman .tglbox,#slick-pengumuman .cnt{align-items:flex-end; display:flex;}
#slick-pengumuman .tglbox{border-right:1px solid #fff;}
#slick-pengumuman .cnt{max-width:85%;}

#slick-slider img{display:block; height:auto; width:100%;}
#slick-slider .base{position:absolute; top:0; right:0; bottom:0; left:0;}

#memoriam{background:#222; padding:30px 0;}
#memoriam>.max{display:flex; flex-direction:row; justify-content:center; align-items:center;}
#memoriam img{max-width:100px; height:auto;}
#memoriam .cnt{width:50%; margin-left:5%;}
#memoriam h2{margin-bottom:15px;}
#memoriam h2 a{color:#fff; text-decoration:none; font-size:120%; font-weight:700;}
#memoriam p{color:#ddd;}

#bg1{background-image:url('../img/perpus.jpg'); background-position:bottom center; background-attachment:fixed; background-repeat:no-repeat; background-size:100% auto; width:100%; padding-bottom:40%;}
#buletin{position:relative; z-index:1; background:#fff;}

#frt-berita{padding-top:100px;}
#frt-berita h1{top:50px;}
#frt-berita .flx{display:flex;}
#frt-berita .item{position:relative;}
#frt-berita .item .pad{padding:15px;}
#frt-berita .item .img{background:#fff; border-radius:4px; padding:4px; box-shadow:0 0 10px rgba(0,0,0,0.15); position:relative;}
#frt-berita .item .img i{position:absolute; top:50%; right:50%; width:50px; height:50px; margin-top:-25px; margin-right:-25px; font-size:120%; background:#fff; color:#a00; display:flex; justify-content:center; align-items:center; border-radius:50%; opacity:0;}
#frt-berita .item:hover .img i{opacity:1;}
#frt-berita .item img{display:block; height:auto; width:100%; line-height:1em;}
#frt-berita .item h2{padding:5px; font-weight:700; color:#a00;}
#frt-berita .item a{display:block; position:absolute; top:0; right:0; bottom:0; left:0; background:#a00; border-radius:4px; text-decoration:none; opacity:0;}
#frt-berita .item a:hover{opacity:0.15;}
#frt-berita .item p{padding:5px; font-size:90%;}
#frt-berita .info{font-size:75%; color:#a00; padding:0 5px 5px 5px;}

#frt-agenda{background:#ebebed;}
#frt-agenda h1{top:30px;}
#frt-agenda .flx{padding-top:75px; display:flex; justify-content:center;}
#frt-agenda .item{position:relative; background:#ebebed; border:1px solid #fff; border-top:none; max-width:210px;}
#frt-agenda .item:hover{background:#e9e9eb;}
#frt-agenda .item .pad{display:flex; flex-wrap:nowrap; flex-grow:1; flex-shrink:1; padding:30px 15px 15px;}
#frt-agenda .item:hover .pad{padding:15px 15px 30px;}
#frt-agenda .item a{display:block; position:absolute; top:0; right:0; bottom:0; left:0;}
#frt-agenda .item .tglbox{flex-grow:0; flex-shrink:0; margin-right:5px;}
#frt-agenda .item .cnt{flex-grow:1; flex-shrink:1;}
#frt-agenda .item h2{font-family:'Oswald',sans-serif; font-weight:200; font-size:110%; line-height:1.1em;}
#frt-agenda .location{font-size:80%; color:#999; line-height:1.1em;}
#frt-agenda .location i{font-size:inherit; color:inherit;}

#program>.max{display:flex; justify-content:center; align-items:stretch;}
#program a{display:inline-block; position:relative; background-color:rgba(200,0,0,0.5); background-position:center center; background-size:100% 100%; background-repeat:no-repeat;}
#program a#prg-1{background-image:url('sarjana.jpg');}
#program a#prg-2{background-image:url('kki.jpg');}
#program a#prg-3{background-image:url('magister.jpg');}
#program a#prg-4{background-image:url('notariat.jpg');}
#program a#prg-5{background-image:url('doktor.jpg');}
#program a>span{display:flex; justify-content:center; align-items:flex-end; position:absolute; right:0; bottom:0; left:0; padding:5px; font-weight:700; letter-spacing:-1px; text-align:center; line-height:1em; background:rgba(0,0,0,0.25); color:#fff;}
#program a:hover{background-size:110% 110%;}
#program a:hover>span{font-size:120%; align-items:center; top:0; background:rgba(200,0,0,0.85);}

#tautan .flx{display:flex; justify-content:center; align-items:stretch;}
#tautan a{border-radius:7px; text-decoration:none; box-shadow:rgba(0,0,0,0.25); position:relative; margin:0 2px 5px 2px;}
#tautan a img{display:block; line-height:0; border-radius:7px;}

#media{background:#ececef; padding:50px 0;}

#dekan>.flx{display:flex; align-items:flex-end; flex-wrap:nowrap;}
#dekan img{border-radius:50%; box-shadow:0 0 10px rgba(0,0,0,0.25);}
#dekan>.flx>p{font-size:70%; font-weight:700;}

@media (min-width: 769px){
	/* DESKTOP */
	.mob{display:none;}
	.big{display:block;}
	.menu,.menu>li,.menu>li>a,.menu>li>span,.menu>li>i{display:flex;}
	.menu,.menu>li{align-items:stretch;}
	.menu>li>a,.menu>li>span,.menu>li>i{align-items:center;}
	.menu a,.menu span,.menu i{color:inherit; line-height:1.1em;}
	.menu a{text-decoration:none;}
	.menu>li.par>.chi{position:absolute; display:none;}
	.menu>li.par:hover>.chi{display:block;}
	#head{box-shadow:0 1px 5px rgba(0,0,0,0.75);}
	.scrolled #head{position:fixed; top:0; right:0; left:0;}
	.scrolled #body{padding-top:150px;}
	#headrel{padding-bottom:20px; box-shadow:0 0 5px rgba(0,0,0,0.25);}
	.scrolled #headrel{padding-bottom:0;}
	#topbar{position:relative; z-index:200; background:#f7f7f9; box-shadow:0 0 5px rgba(0,0,0,0.15);}
	#topbar>.max{display:flex; justify-content:flex-end; border-left:1px solid #eee; border-right:1px solid #eee;}
	#socbar,#topmenubox{border-top:1px solid #eee; border-bottom:1px solid #eee; flex-grow:1; flex-wrap:nowrap;}
	#socbar{margin-right:auto;}
	#socbar a{border-right:1px solid #eee;}
	.scrolled #socbar a{height:28px;}
	.scrolled #socbar li.soc a{width:28px;}
	#topmenubox{display:flex; justify-content:flex-end; align-items:stretch;}
	#topmenu{z-index:202; flex-wrap:nowrap;}
	#topmenu a,#topmenu span{font-size:85%;}
	.scrolled #topmenu a,.scrolled #topmenu span{font-size:80%;}
	#topmenu>li{border-right:1px solid #eee; background:#f7f7f9; color:#555; height:33px;}
	#topmenu>li:first-of-type{border-left:1px solid #eee;}
	.scrolled #topmenu>li{height:28px;}
	#topmenu>li:hover{background:#a00; color:#fff;}
	#topmenu>li>a{padding:0 10px;}
	#topmenu>li>span{padding:0 2px 0 10px; cursor:pointer;}
	#topmenu>li>i{padding:0 10px 0 2px; font-size:70%;}
	#topmenu>li.par{position:relative; z-index:-1;}
	#topmenu>li.par>.chi{top:100%; right:0; width:180px;}
	#topmenu>li.par>.chi .max{position:absolute; top:0; right:0; width:auto; background:#f7f7f9; box-shadow:0 2px 10px rgba(0,0,0,0.25);}
	#topmenu .chi ul,#topmenu .chi li,#topmenu .chi a{display:block;}
	#topmenu .chi a{padding:10px 15px; background:#f7f7f9; color:#555;}
	#topmenu .chi a:hover{background:#a00; color:#fff;}
	#topmenu .chi .max ul li:first-of-type a{padding-top:15px;}
	#topmenu .chi .max ul li:last-of-type a{padding-bottom:15px;}
	#searchbig{position:relative; z-index:201; width:33px; height:33px;}
	#searchbig .ico{font-size:80%; width:33px; height:33px; background:#f7f7f9; color:#999;}
	.scrolled #searchbig,.scrolled #searchbig .ico{width:28px; height:28px;}
	#searchbig .ico.off,#searchbig:hover .ico{background:#a00; color:#fff;}
	#searchfrm{position:absolute; top:100%; right:0; box-shadow:0 5px 10px rgba(0,0,0,0.15); width:300px; display:none;}
	.nojs #searchbig:hover #searchfrm{display:block;}
	#bighead>.max{display:flex; justify-content:flex-end; align-items:flex-end; position:relative; z-index:199;}
	#logobig{margin-right:auto; height:70px; flex-grow:0; flex-shrink:0; padding:15px 0;}
	#logobig img{height:100%; width:auto;}
	#logomob{height:40px;}
	#logomob,.scrolled #logobig{display:none;}
	.scrolled #logomob{display:flex;}
	#logomob img{height:100%;}
	#tema{position:absolute; top:0; right:10px; bottom:35px; display:flex; align-items:center;}
	#tema img{max-height:50px;}
	.scrolled #tema{position:initial; height:30px; padding:5px 0;}
	.scrolled #tema img{height:100%;}
	#mainmenu{justify-content:flex-end; margin-left:auto; flex-wrap:nowrap; display:flex;}
	#mainmenu>li{height:40px;}
	#mainmenu a,#mainmenu span,#mainmenu i{color:inherit;}
	#mainmenu a{font-size:90%;}
	#mainmenu i{font-size:80%;}
	.scrolled #mainmenu>li>a{font-size:85%;}
	.scrolled #mainmenu i{font-size:75%;}
	#mainmenu>li>a{padding:0 15px;}
	.scrolled #mainmenu>li>a{font-size:85%; padding:0 10px;}
	#mainmenu>li.par>a{padding:0 2px 0 15px;}
	#mainmenu>li>i{padding:0 15px 0 2px;}
	.scrolled #mainmenu>li.par>a{padding:0 1px 0 10px;}
	.scrolled #mainmenu>li>i{padding:0 10px 0 1px;}
	#mainmenu>li:hover{background:#a00; color:#fff;}
	#mainmenu>li.par>.chi{top:100%; right:0; left:0;}
	#mainmenu .chi>.max{display:flex; flex-wrap:nowrap; justify-content:flex-end; align-items:flex-end; padding:50px 5% 25px; background:#fff; box-shadow:0 1px 10px rgba(0,0,0,0.25);}
	#mainmenu .chi .quo{text-align:right; width:30%;}
	#mainmenu .chi .quo p{color:#a00; font-family:'Merriweather',serif; font-size:170%; font-weight:900; letter-spacing:-2px; line-height:1em; padding-bottom:5px;}
	#mainmenu .chi .quo img{width:100%;}
	#mainmenu .chi ul{border-left:1px solid #ddd; padding:0 15px 0 2.5%; margin-left:2.5%; width:60%; flex-grow:0; flex-shrink:1;}
	#mainmenu .chi a{display:inline-block; padding:5px 0 5px 10px; border-bottom:1px dotted #ddd; font-weight:700;}
	#mainmenu .chi .max ul li:last-of-type a{border-bottom:none; padding-bottom:0;}
	#mainmenu .chi a:hover{color:#a00; padding-left:5px; border-left:5px solid #a00;}
	.slick-arrow{width:30px; height:40px; margin-top:-20px; font-size:200%;}
	.slick-arrow.fa-chevron-left{border-top-right-radius:7px; border-bottom-right-radius:7px;}
	.slick-arrow.fa-chevron-right{border-bottom-left-radius:7px; border-top-left-radius:7px;}
	.slick-dots li{margin:0 2px;}
	.slick-dots li button{width:12px; height:12px;}
	.slick .text>span{margin:5px 0;}

	.js .slickbox.box#box-pengumuman{padding-top:110px;}
	.nojs .slickbox#box-pengumuman{padding-top:30px;}
	.nojs #slick-pengumuman .item{padding:10px 5%; border-bottom:1px dotted #fff;}
	.js #slick-pengumuman .base{padding:30px 5%; height:50px;}
	#slick-pengumuman .tglbox{padding-right:15px; margin-right:15px;}
	.nojs #slick-pengumuman .tglbox{width:100px;}

	.js .slickbox.frt#frt-slider{padding-top:30%; padding-bottom:0;}
	.js #frt-slider .base{padding:25px 50px;}
	#frt-slider .text{max-width:55%;}
	#frt-slider .h1 span{font-size:200%; font-weight:700; padding:5px 10px; border-radius:5px;}
	#frt-slider .h2 span{font-size:150%; padding:5px 10px; border-radius:5px;}
	#frt-agenda .item{max-width:220px;}
	#frt-berita .item{width:33%;}
	#program>.max{flex-wrap:nowrap; justify-content:space-around;}
	#program a{width:19.5%; padding-top:19.5%;}
	#media>.max{display:flex; justify-content:space-between; flex-wrap:nowrap; align-items:center;}
	#frt-mejadekan{width:29%; flex-shrink:0; flex-grow:0; border-right:1px solid #fff; padding-right:15px;}
	#frt-media{padding:50px 0 0 15px;}
	#frt-media>.flx{display:flex; justify-content:space-around; flex-wrap:nowrap;}
	#frt-media .item{width:29.5%;}
	@media (min-width: 1000px){
		/* LARGE DESKTOP */
		#frt-berita .item{width:25%;}
	}
}

@media (max-width: 768px){
	/* MOBILE */
	.mob{display:block;}
	.big{display:none;}
	.max{width:100%; max-width:none;}
	#head{background:#fff; z-index:200;}
	.nojs #head{padding-bottom:50px;}
	.js #head{position:fixed; top:0; right:0; left:0;}
	.menuon #head{height:100%; bottom:0; overflow-y:scroll;}
	.menuon #body{display:none;}
	#headbg{display:none;}
	#mobhead{display:flex; justify-content:center; background:#fff; box-shadow:0 0 5px rgba(0,0,0,0.15);}
	#mobhead .bar{width:50px; height:50px;}
	#mobhead .bar i.ico{width:50px; height:50px;}
	#logomob,#tema{height:40px; padding:5px;}
	#tema{margin-left:auto;}
	#logomob img,#tema img{height:100%;}
	.nojs #mobhead .bar{display:none;}
	#mobhead .menubar{border-right:1px solid #eee; margin-right:auto;}
	#mobhead .searchbar{border-left:1px solid #eee; margin-left:auto;}
	#searchfrm{box-shadow:0 0 5px rgba(0,0,0,0.15);}
	.nojs #searchfrm{position:absolute; top:50px; right:0; left:0;}
	#searchtxt{text-align:center;}
	#topbar{padding-top:30px;}
	.nojs #topbar{padding-top:80px;}
	#socbar{padding:0 15px 30px;}
	#socbar li{border:1px solid #eee; border-left:none;}
	#socbar li:first-of-type a{border-left:1px solid #eee;}
	#socbar li#lang{margin-left:auto;}
	.menu>li{flex-wrap:wrap; justify-content:space-between;}
	.menu>li,.menu>li>a,.menu>li>span,.menu>li>a>i,.menu>li>span>i{display:flex;}
	.menu>li>a,.menu>li>span{font-weight:700; border-bottom:1px dotted #ddd;}
	.menu>li:last-of-type li:last-of-type a{border-bottom:none;}
	.menu a,.menu span,.menu i{color:#555;}
	.menu a,.menu span{padding:10px 15px; flex-grow:1;}
	.menu a{text-decoration:none;}
	.menu i{width:50px; justify-content:center; align-items:center; background:#f7f7f9; color:#999;}
	.menu i.off{background:#555; color:#aaa;}
	.menu a:hover{background:#f7f7f9; color:#a00;}
	.menu i:hover{background:#a00; color:#fff;}
	.nojs .menu i{display:none;}
	.menu>li>.chi{flex-basis:100%;}
	.js .menu>li>.chi{display:none;}
	.menu .chi ul,.menu .chi li,.menu .chi a{display:block;}
	.menu .chi a{padding-left:50px; border-bottom:1px dotted #ddd;}
	#topmenu{margin-bottom:50px;}
	#topmenu a,#topmenu span{font-size:85%;}
	#searchbig i.ico{display:none;}
	#bighead #logomob{display:none;}
	#mainmenu{flex-basis:100%; flex-direction:column;}
	#mainmenu .quo{display:none;}
	.js #topbar,.js #mainmenu{display:none;}
	.js #body{padding-top:50px;}
	.slick-arrow{width:25px; height:30px; margin-top:-15px;}
	.slick-arrow.fa-chevron-left{border-top-right-radius:5px; border-bottom-right-radius:5px;}
	.slick-arrow.fa-chevron-right{border-bottom-left-radius:5px; border-top-left-radius:5px;}
	.slick-dots li button{width:10px; height:10px; margin:0 1px;}
	.js .slickbox#frt-pengumuman{padding-top:130px;}
	.nojs .slickbox#frt-pengumuman{padding-top:30px;}
	.nojs #frt-pengumuman .item{padding:10px 15px; border-bottom:1px dotted #fff;}
	.js #frt-pengumuman .base{padding:25px; height:80px;}
	.nojs #frt-pengumuman .tglbox{width:60px;}
	#frt-pengumuman .tglbox{margin-right:10px;}
	#frt-berita .item{width:50%;}
	#program>.max{flex-wrap:wrap;}
	#program a{width:32%; padding-top:32%; margin:2px;}

	@media (max-width: 480px){
		/* SMALL MOBILE */
		#frt-berita .item{width:100%;}
		#frt-agenda .flx,#frt-berita .flx{display:block;}
		#frt-agenda .item,#frt-berita .item{width:100%; max-width:none;}
		#frt-agenda .item{border:none; border-bottom:1px solid #fff;}
		#frt-agenda .item .pad{padding:20px 30px 20px 15px;}
		#frt-agenda .item:hover .pad{padding:20px 15px 20px 30px;}
		#frt-agenda .tglbox{width:25%; margin-right:5px;}
		#frt-berita .item .pad{padding:30px;}
	}
}
